.education {
    background-color: #D6E4E5;
    font-family: "Montserrat", sans-serif;
    padding-top: 80px;
    padding-bottom: 20px;

    h1 {
        color: #111b1b;
        text-align: center;
        font-weight: bold;
    }

    h1:before {
        content: " { ";
    }

    h1:after {
        content: " } ";
    }

    h3,
    h5 {
        color: #111b1b;
        font-weight: bold;
    }


    .education-date {
        color: #111b1b;
        font-weight: bold;
        font-size: 18px;
    }
}