.project {
    background-color: #497174;
    font-family: "Montserrat", sans-serif;
    padding-top: 80px;
    padding-bottom: 20px;

    h1 {
        text-align: center;
        font-weight: bold;
        color: #D6E4E5;
    }

    h1:before {
        content: " { ";
    }

    h1:after {
        content: " } ";
    }

    .project-label-title {
        color: #111b1b;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .project-detail {
        color: #111b1b;
        font-weight: bold;
    }

    .project-image {
        height: 250px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .project-button {
        width: 120px;
        margin: 30px 5px;
    }
}

@media (max-width: 1170px) {

    .project {
       div {
        .vertical-timeline {
            .vertical-timeline-element {    
                display: flex;
                align-items: center;
                justify-content: center;                      
                .vertical-timeline-element-content {                    
                    max-width: 500px;    
                    margin-left: 0;               
                }
            }
        }
       }
    }
}

@media (max-width: 600px) {

    .project {
       div {
        .vertical-timeline {
            .vertical-timeline-element {    
                display: flex;
                align-items: center;
                justify-content: center;          
                .vertical-timeline-element-content {                    
                    max-width: 400px;    
                    .project-image {
                        height: 100%;
                    }             
                }
            }
        }
       }
    }
}

@media (max-width: 375px) {

    .project {
       div {
        .vertical-timeline {
            .vertical-timeline-element {                  
                .vertical-timeline-element-content {  
                    
                    .project-image {
                        margin-bottom: 10px;
                    }             
                    
                 .project-button {
                    margin: 10px 5px;
                 }
                }
            }
        }
       }
    }
}