.home {
    background-color: #1F2833;
    text-align: left;
    padding: 5% 5%;
    position: relative;
    min-height: 100vh;

    .row {

        align-items: center;
        justify-content: center;

        .home-col {
            padding: 15% 5%;

            h1,
            h2,
            h3,
            p {
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
                color: #66FCF1;
            }

            p {
                span {
                    font-size: large;
                    color: #C5C6C7;
                }
            }

            .link-button {
                margin: 5% 3% 5% 0%;
                padding: 5px;
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: #66FCF1;
                width: 100px;
                font-size: 16px;
                color: #1F2833;

                svg {
                    width: 20px;
                }
            }

            .link-button:hover {
                color: #1F2833;
            }

            .scroll-down-container {
                display: flex;
                position: absolute;
                bottom: 10%;
                left: 40%;

                svg {
                    color: #fff;
                }

                svg:last-child {
                    animation: arrow-down .5s ease-in-out infinite alternate;
                }

                @keyframes arrow-down {
                    0% {
                        -webkit-transform: translateY(0);
                        opacity: 0.4;
                    }

                    100% {
                        -webkit-transform: translateY(0.4em);
                        opacity: 0.9;
                    }
                }

                h3 {
                    font-size: 16px;
                    margin: 0 5px;
                    width: 100px;
                    text-align: center;
                }
            }
        }

    }



    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 551px;
        height: 550px;

        .image-home {
            width: 25%;
            transform: rotate(0deg);
            position: absolute;
        }
    }
}

@media (max-width: 1200px) {
    .home {
        text-align: center;

        .row {
            .home-col {
                padding: 50px 0 25px 0;

                .scroll-down-container {
                    display: flex;
                    position: absolute;
                    bottom: 5%;
                    left: 25%;
                }
            }
        }

        .image-container {
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 250px;

            .image-home {
                width: 25%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .home {
        text-align: center;

        .row {
            .home-col {
                padding-top: 60px;
            }
        }

        .image-container {
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 250px;

            .image-home {
                width: 30%;
            }
        }
    }
}

@media (max-width: 750px) {
    .home {

        .row {
            .home-col {
                padding-top: 70px;
            }
        }

        .image-container {

            .image-home {
                width: 35%;
            }
        }
    }
}

@media (max-width: 650px) {
    .home {

        .image-container {

            .image-home {
                width: 40%;
            }
        }
    }
}

@media (max-width: 550px) {
    .home {

        .image-container {

            .image-home {
                width: 50%;
            }
        }
    }
}