.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #497174;
    height: 550px;
    padding-top: 80px;

    .about-me-title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
        color: #D6E4E5;
    }

    .about-me-title:before {
        content: " { ";
    }

    .about-me-title:after {
        content: " } ";
    }

    .about-row {
        margin: 20px 50px;

        .about-me-text {
            font-family: "Montserrat", sans-serif;
            color: #111b1b;
            font-weight: bold;
        }
    }
}

@media (max-width: 900px) {
    .about {     


        .about-row {
            max-width: 100%;
            margin: 0 30px 0 10px;
            padding: 0;

            .about-me-text {
                font-family: "Montserrat", sans-serif;
                color: #111b1b;
                font-weight: bold;
               
            }
        }
    }
}