.contact {
    background-color: #D6E4E5;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;

    h1 {
        color: #111b1b;
        font-weight: bold;
    }

    h1:before {
        content: " { ";
    }

    h1:after {
        content: " } ";
    }

    .social-medias-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding: 0;

        li {
            margin: 20px;

            a {
                color: #EB6440;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            a:hover {
                color: #111b1b;
            }
        }
    }
}


@media (max-width: 500px) {
    .contact {
        .social-medias-list {
            li {
                a {
                    svg {
                        width: 25px;
                        height: 24px;
                    }
                }
            }
        }
    }
}