header {
    font-family: "Montserrat", sans-serif;

    h1 {
        color: #497174;
        font-weight: bold;
        font-size: 1.6rem;
    }

    a {
        color: #497174;
        font-size: 1rem;
        font-weight: bold;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #EFF5F5;

        margin: auto -16px;
        padding: 5px auto;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        padding-bottom: 0 0 4.5rem;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 20px;

            .dropdown {
                margin-left: -15px;

                .dropdown-menu {
                    background-color: #EFF5F5;
                }
            }

            .navbar-collapse {

                justify-content: flex-end;

                .navbar-nav {
                    a {
                        font-weight: bold;
                    }
                    a:hover,
                    :focus {
                        color: #497174;
                    } 
                }
            }
        }  
    }
}

@media (max-width: 1200px) {
    header {
        .navbar {
            .container {
                .dropdown {
                    margin-left: -45px;

                }

                .collapse {
                    margin-left: 0;
                }
            }
        }
    }
}